

/* playlist */

#Track {
	text-align: center;	
}
#Length {
	text-align: right;	
}

/* toolbar */

toolbarbutton label{
	display: none;
}

#prev {
	list-style-image: url('chrome://xul-amarok/skin/buttons/player_start.png');
}

#next {
	list-style-image: url('chrome://xul-amarok/skin/buttons/player_end.png');
}

#play {
	list-style-image: url('chrome://xul-amarok/skin/buttons/player_play.png');
}

#pause {
	list-style-image: url('chrome://xul-amarok/skin/buttons/player_pause.png');
}

#stop {
	list-style-image: url('chrome://xul-amarok/skin/buttons/player_stop.png');
}

#config {
	list-style-image: url('chrome://xul-amarok/skin/buttons/amarok.png');
}

#clear {
	list-style-image: url('chrome://xul-amarok/skin/buttons/playlist_clear.png');
}
#update {
	list-style-image: url('chrome://xul-amarok/skin/buttons/playlist_reload.png');
}

